<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todoVue3</title>
</head>
<body>
  <div id="app">
    <h1>todos</h1>
  <div>
    <input type="checkbox" :checked="isAllCompleted" @click="toggleAll">
    <input type="text" @keyup.enter="addTodo" v-model.trim="todoInput">
  </div>
  <ul>
    <li v-for="(todo,i) of visibleTodos" :key="todo.id">
      <input type="checkbox" v-model="todo.completed">
      <input v-focus v-if="editingIdx==i" type="text" :value="todo.text" @keyup.enter="todo.text = $event.target.value.trim();editingIdx = -1" @blur="editingIdx = -1" >
      <span v-else @dblclick="editingIdx=i">{{ todo.text }}</span>
      <button @click="deleteTodo(todo.id)">x</button>
    </li>
  </ul>
  <div>
    <span>{{ leftCount }} items left</span>
    <div>
      <label><input type="radio" v-model="visibleType" value="all">all</label>
      <label><input type="radio" v-model="visibleType" value="active">active</label>
      <label><input type="radio" v-model="visibleType" value="completed">completed</label>
    </div>
    <button @click="clearCompleted" v-show="hasCompleted">clear completed</button>
  </div>
  </div>
</body>
<script src="./vue3.5.21.global.js"></script>
<script>
  const {createApp,ref,reactive,computed,directives} = Vue
  //ref返回一个可监控的对象
  createApp({
    setup(){
      let todos = reactive([{
        id:'awdawd',
        text:'eat',
        completed:false,
      },{
        id:'jioljl',
        text:'sleep',
        completed:false,
      }])
      let editingIdx = ref(-1)
      let visibleType = ref('all')
      let todoInput = ref('')
      
      
      let isAllCompleted = computed(()=>todos.every(it=>it.completed))
      let leftCount = computed(()=>todos.filter(e =>!e.completed).length)
      let hasCompleted = computed(()=>todos.some(e=>e.completed))
      let visibleTodos = computed(()=>{
        return todos.filter(it=>{
          if(visibleType.value=='all'){
            return true
          }else if(visibleType.value=='active'){
            return !it.completed
          }else{
            return it.completed
          }
        })
      })

      function addTodo(e){
       if(todoInput.value){
        todos.push({
          id: Math.random().toString(16).slice(2),
          text:todoInput.value,
          completed:false,
        })
        todoInput.value = ''
       }
      }
      function toggleAll(){
        if(isAllCompleted.value){
          todos.forEach(element => {
            element.completed = false
          });
        }else{
          todos.forEach(element => {
            element.completed = true
          });
        }
      }
      function clearCompleted(){
        let rest = todos.filter(e=>!e.completed)
        todos.length = 0
        todos.push(...rest)
      }
      function deleteTodo(id){
        let i = todos.findIndex(it=>it.id==id)
        if(i>=0){
          todos.splice(i,1)
        }
      }

      return {
        todos,
        visibleTodos,
        editingIdx,
        visibleType,
        isAllCompleted,
        todoInput,
        leftCount,
        hasCompleted,
        toggleAll,
        addTodo,
        clearCompleted,
        deleteTodo,
      }
    },
    
    directives:{
      focus:{
        mounted(el){
          el.focus()
        }
      }
    },
 }).mount('#app')
</script>
</html>