@import "tailwindcss";
#root{
  height: 100%;
  min-height: 100vh;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 min-width: 320px;
 min-height: 100vh;
}
button{
  border: solid black 1px;
  cursor: pointer;
  display: inline-block;
}


